<br>
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">
          	Welcome <span *ngFor="let info of userDetail">{{info.firstName}} {{info.lastName}}</span>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
           <li>
            <a [routerLink]="['/login']"><span class="glyphicon glyphicon-home"></span> Home</a>
          </li>
          <li>
            <a [routerLink]="['/add', 'user']"><span class="glyphicon glyphicon-plus"></span> Add New User</a>
          </li>
          <li>
            <a [routerLink]="['/add', 'admin']"><span class="glyphicon glyphicon-plus"></span> Add New Admin</a>
          </li>
        	<li>
        		<a>
	        		<span *ngFor="let info of userDetail">
								Logged In As: {{info.username}}
							</span>
						</a> 
        	</li>
          <li>
          	<a>
          		<button class="btn btn-xs btn-default" (click)="logout()">
          			<span class="glyphicon glyphicon-log-out"></span> Logout
          		</button>
          	</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
      <div class="panel-heading"><h4>New Admin</h4></div>
      <div class="panel-body">
        <form (submit)="addAdmin($event)" ngNativeValidate>
          <p>Fill out the following form to a new admin user. {{message}} </p>
          <table class="table table-hover">
            <tr>
              <th>First Name</th>
              <td>
                <input type="text" [(ngModel)]="firstName" name="firstName" required>
              </td>
              <th>Last Name</th>
              <td>
                <input type="text" [(ngModel)]="lastName" name="lastName" required>
              </td>
            </tr>
            <tr>
              <th>E-mail</th>
              <td colspan="3">
                <input type="email" [(ngModel)]="email" name="email" required>
              </td>
            </tr>
            <tr>
              <th>Username</th>
              <td>
                <input type="text" [(ngModel)]="username" name="username" required>
              </td>
              <th>Password</th>
              <td>
                <input type="password" [(ngModel)]="password" name="password" required>
              </td>
            </tr>
            <tr>
              <td colspan="4">
                <button type="submit" class="btn btn-block btn-success">Add Admin</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>

  </div>